#customization {
  margin-top: 30%;
  padding: 5%;
  margin-right: 45%;
  margin-bottom: 15%;
  @include for-size(phone-only) {
    margin-top: 110%;
    margin-right: 0;
    width: 100%;
    padding: 10%;
    margin-bottom: 0;
  }
  @include for-size(tablet-portrait-up) {
    margin-top: 60%;
    margin-right: 0;
    width: 100%;
    padding: 10%;
    margin-bottom: 0;
  }
  @include for-size(tablet-landscape-up) {
    margin-top: 50%;
    margin-right: 0;
    width: 100%;
    padding: 10%;
    margin-bottom: 0;
  }
  @include for-size(desktop-up) {
    margin-top: 0%;
    margin-right: 0;
    width: 100%;
    padding: 10%;
    margin-bottom: 0;
  }
  > #img-4 {
    position: absolute;
    z-index: 3;
    right: 0;
    top: -15%;
    width: 45%;
    box-shadow: -5px -5px 10px #000, 5px 5px 10px #000;
    @include for-size(phone-only) {
      display: none;
    }
    @include for-size(tablet-portrait-up) {
      display: none;
    }
    @include for-size(tablet-landscape-up) {
      display: none;
    }
    @include for-size(desktop-up) {
      position: unset;
      float: right;
      margin: 0% 0 5% 5%;
      width: 60%;
      box-shadow: 5px 5px 10px #000;
    }
  }

  > .article-title {
    @include article-title(#fff);
    @include fontPlayfair(2rem, 900, normal);
    @include text-shadow(#000);
    @include for-size(phone-only) {
      margin-bottom: 5%;
      font-size: 1.5rem;
    }
    @include for-size(tablet-portrait-up) {
      font-size: 1.75rem;
    }
  }
  > .article-p {
    @include article-p(#000);
    @include fontPlayfair(1.5rem, 700, normal);
    margin-bottom: 10%;
    @include for-size(phone-only) {
      font-size: 1rem;
      line-height: 1.75rem;
      text-align: justify;
    }
    @include for-size(tablet-portrait-up) {
      font-size: 1.25rem;
      text-align: justify;
      line-height: 2rem;
    }
    @include for-size(tablet-landscape-up) {
      margin-bottom: 5%;
    }
    @include for-size(desktop-up) {
      margin-bottom: 5%;
    }
  }
  > .button {
    @include button(rgba(255, 255, 255, 0.8), #000, 60%, 1.5rem);
    @include fontPTSans(1.5rem, 700, normal);
    @include flex(center, space-between, row);
    @include box-shadow(#000);
    @include for-size(phone-only) {
      padding: 10px;
      font-size: 1rem;
      width: 100%;
    }
    @include for-size(tablet-portrait-up){
      padding: 10px;
      font-size: 1.25rem;
      width: 60%;
    }
    @include for-size(tablet-landscape-up){
      padding: 10px;
      font-size: 1.25rem;
      width: 50%;
    }
    @include for-size(desktop-up) {
      width: 35%;
    }
  }
}
