.produtos {
  @include flex(center, center, column);
  margin-top: 5%;
  padding: 0 5%;
  @include for-size(phone-only) {
    padding: 0 10%;
  }
  @include for-size(tablet-portrait-up){
    padding: 0 10%;
  }
  @include for-size(tablet-landscape-up){
    padding: 0 10%;
  }
  @include for-size(desktop-up){
      padding: 0 10%;
  }
  > .article-title {
    @include article-title(#fff);
    @include fontPlayfair(3rem, 900, normal);
    @include text-shadow(#000);
    margin-bottom: 5%;
    letter-spacing: 0.2rem;
    @include for-size(phone-only) {
      font-size: 1.75rem;
      margin-bottom: 10%;
    }
    @include for-size(tablet-portrait-up) {
      font-size: 2rem;
    }
    @include for-size(tablet-landscape-up){
        font-size: 2.5rem;
    }
    @include for-size(desktop-up){
        font-size: 2.5rem;
    }
  }
  > .item-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 2.5%;
    @include for-size(phone-only) {
      @include flex(center, center, column);
    }
    @include for-size(tablet-portrait-up) {
      grid-template-columns: 1fr 1fr;
      column-gap: 5%;
    }
    @include for-size(tablet-landscape-up){
        grid-template-columns: 1fr 1fr;
        column-gap: 10%;
    }
    @include for-size(desktop-up){
        grid-template-columns: 1fr 1fr;
        column-gap: 10%;
    }
    > .item {
      width: 100%;
      @include flex(center, center, column);
      @include for-size(phone-only){
        margin-bottom: 20%;
      }
      @include for-size(tablet-portrait-up){
        margin-bottom: 20%;
      }
      @include for-size(tablet-landscape-up){
        margin-bottom: 20%;
      }
      @include for-size(desktop-up){
        margin-bottom: 20%;
      }
      > .image-price {
        width: 100%;
        height: 100%;
        @include flex(center, center, column);
        > .item-image {
          width: 100%;
          height: 100%;
          position: relative;
          &:hover {
            filter: brightness(50%);
          }
          user-select: none;
          border: 1px solid #000;
        }
        .item-image:hover + .price {
          display: block;
        }
    
        > .price {
          @include fontPlayfair(2.5rem, 900, normal);
          @include article-p(rgb(252, 221, 242));
          @include text-shadow(#000);
          user-select: none;
          text-align: center;
          margin: 5% 5%;
          position: absolute;
          z-index: 1;
          display: none;
          @include for-size(phone-only){
              font-size: 1.5rem;
              display:block;
              position: unset;
              color: #FFF;
              margin: 2.5%;
          }
          @include for-size(tablet-portrait-up){
            font-size: 1.5rem;
            display:block;
            position: unset;
            color: #FFF;
            margin: 5% 0;
          }
          @include for-size(tablet-landscape-up){
            font-size: 1.5rem;
            display:block;
            position: unset;
            color: #FFF;
            margin: 5% 0;
          }
          @include for-size(desktop-up){
            font-size: 2rem;
            display:block;
            position: unset;
            color: #FFF;
            margin: 5% 0;
          }
        }
      }
      > .item-name {
        display: block;
        @include fontPTSans(1.75rem, 700, normal);
        @include article-title(#000);
        letter-spacing: 0.1rem;
        margin: 10% 0;
        @include for-size(phone-only) {
          font-size: 1.25rem;
          margin: 0 0 2.5% 0;
        }
        @include for-size(tablet-portrait-up) {
          font-size: 1.25rem;
          margin: 0 0 5% 0;
        }
        @include for-size(tablet-landscape-up) {
            font-size: 1.25rem;
            margin: 0 0 5% 0;
          }
          @include for-size(desktop-up) {
            font-size: 1.5rem;
            margin: 0 0 5% 0;
          }
      }
      > .button {
        @include button(rgba(255, 255, 255, 0.8), #000, 100%, 1.5rem);
        @include fontPTSans(1.5rem, 600, normal);
        @include flex(center, center, row);
        @include box-shadow(#000);
        @include for-size(phone-only) {
          padding: 10px;
          font-size: 1rem;
        }
        @include for-size(tablet-portrait-up) {
          padding: 10px;
          font-size: 1rem;
        }
        @include for-size(tablet-landscape-up) {
            padding: 10px;
            font-size: 1rem;
          }
          @include for-size(desktop-up) {
            padding: 10px;
            font-size: 1.5rem;
          }
      }
    }
  }
}
