#quote{
    top: 0;
    padding: 10% 5%;
   @media (min-width: 320px) and (max-width: 1023px){
    padding: 5% 10%;
   }
    @include flex(center, center, column);
    > .quote{
        width: 50px;
        @include for-size(phone-only){
            width: 30px;
        }
        @include for-size(tablet-portrait-up){
            width: 40px;
        }
    }
    > .article-title{
        padding: 5% 0;
        @include fontPlayfair(3rem, 900, italic);
        @include text-shadow(#000);
        color: #FFF;
        text-align: center;
        @include for-size(phone-only){
            font-size: 2rem;
        }
        @include for-size(tablet-portrait-up){
            font-size: 2.5rem;
        }
        @include for-size(tablet-landscape-up){
            font-size: 3rem;
        }
        
    }
}