.modal-maps{
    display: none;
    width: 560px;
    height: 560px;
    position: fixed;
    padding: 0;
    background-color: var(--base-color-1-transparent);
    z-index: 10;
    @include radius;
    @include boxShadow;
    @include centerAll;
    iframe {
        @include radius;
    }
    &.opened {
        display: block;
    }
    .close {
        position: absolute;
        width: 32px;
        height: 32px;
        top: 10px;
        right: 10px;
        background-image: url('#{$imageUrl}/action-icons/close.svg');
        background-color: var(--base-color-2);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        cursor: pointer;
        @include radius;
    }

    @include medium {
        width: 90%;
        height: 60%;
    }
}