.c-quote {
  text-align: center;
  max-width: 80ch;
  margin: 0 auto;

  @media (min-width: $lg) {
    margin-top: 100px;
  }

  > .quote {
    font-size: 2.3rem;
  }

  > .author {
    font-size: 1.1rem;
    float: right;
    margin-right: 20px;
  }
}
