* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    &:focus {
        outline: none;
    }
}
html {
    font-size: 16px;
    color: var(--font-dark);
    @include PTSans;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
a {
    color: var(--font-dark);
    text-decoration: none;
}
img {
    display: block;
}
.btn, button {
    padding: 10px 15px;
    color: var(--font-dark);
    font-size: 1.5rem;
    text-transform: uppercase;
    text-align: center;
    background-color: var(--base-color-2);
    border: none;
    @include semiBold;
    @include radius;
    cursor: pointer;
    &:hover {
        background: var(--base-color-4);
    }
    @include mobile {
        font-size: 1.2rem;
    }
}

.btn-buy {
    font-size: 1rem;
    width: 100%;
    @include flexCenter;
    cursor: pointer;
    &:hover {
        &:after {
            left: 20px;
        }
    }
    &:after {
        content: '';
        display: block;
        width: 24px;
        height: 24px;
        position: relative;
        left: 5px;
        background-image: url('#{$imageUrl}/action-icons/add-cart.svg');
        transition: all .5s ease;
    }
}