<div class="footer-inner">
    <div class="footer-container">
        <img class="footer-logo " src="./src/assets/Hire-me-Logotipo.png" alt="logo Hire Me">
    </div>
    <div class="footer-container">
        <ul class="footer-list">
            <li class="footer-listitem">
                <a href="#">
                    MENU
                </a>
            </li>
            <li class="footer-listitem">
                <a href="#">
                    MENU
                </a>
            </li>
            <li class="footer-listitem">
                <a href="#">
                    MENU
                </a>
            </li>
            <li class="footer-listitem">
                <a href="#">
                    MENU
                </a>
            </li>
        </ul>
    </div>
    <div class="footer-container">
        <ul class="footer-list">
            <li class="footer-listitem">
                <i class="fab fa-instagram iconinsta"></i>
                <a href="#">Instagram</a>
            </li>
            <li class="footer-listitem">
                <i class="fab fa-facebook iconfacebook"></i>
                <a href="#">Facebook</a>
            </li>
        </ul>
    </div>
</div>
<div class="footer-botom">
    <p class="footer-copy">@Vnda - Tecnologia para ecommerce / CNPJ: 00.000.000/0001-00</p>
</div>