<section class="hero">
    <div class="swiper-container hero-slider">
        <div class="swiper-wrapper">
            <div class="swiper-slide hero">
                <div class="hero-item">
                    <img src="./src/assets/bgHero.jpg" alt="">
                </div>
                <div class="hero-overlay">
                    <div class="hero-inner">
                        <h1 class="hero-title">
                            Ei você aí!!
                        </h1> 
                        <h2 class="hero-subtitle">
                            Hire me
                        </h2>
                    </div>
                </div>
            </div>
        </div>
     </div>
</section>