<section class="newsletter" data-aos="fade-up">
    <div class="newsletter-inner">
        <div class="newsletter-textcontainer">
            <p class="newsletter-text">
                Newsletter texto de apoio lorem
                ipsum sit amet consectur
                adiscipling
            </p>
        </div>
        <form class="newsletter-groupinput">
            <input type="text" class="newsletter-input" placeholder="Digite seu email aqui">
            <button type="button"  class="newsletter-btn">
                Enviar
            </button>
        </form>
    </div>
</section>