<section class="threeBanners">
    <div class="threeBanners-inner" >
        <!-- Banner -->	
        @@include('../components/banner.html', {
            "class": "-withfooter-medium -one",
            "img": "./src/assets/post1.jpeg",
            "textSmall": "tema",
            "textSmallNum":"1",
            "title": "Título do post lorem ipsum" ,
            "text": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.",
            "hasheader": false, 
            "hasImgMobile": false,
            "hasfooter": true,
            "aosConfig": "fade-left"
        })
        <!-- Banner -->	
        @@include('../components/banner.html', {
            "class": "-withfooter-big -two",
            "img": "./src/assets/post2.jpeg",
            "textSmall": "tema",
            "textSmallNum":"2",
            "title": "Título do post lorem ipsum" ,
            "text": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.",
            "hasheader": false, 
            "hasImgMobile": false,
            "hasfooter": true,
            "aosConfig": "fade-up"
        })
        <!-- Banner -->	
        @@include('../components/banner.html', {
            "class": "-withfooter-medium -three",
            "img": "./src/assets/post3.jpeg",
            "textSmall": "tema",
            "textSmallNum":"3",
            "title": "Título do post lorem ipsum" ,
            "text": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.",
            "hasheader": false, 
            "hasImgMobile": false,
            "hasfooter": true,
            "aosConfig": "fade-right" 
        })
    </div>
</section>