article.c-collection.swiper-container
  div.swiper-wrapper
    article.card.swiper-slide
      img.image(src="https://www.affonsosolano.com.br/wp-content/uploads/2016/12/O-espadachim-de-carvao_frente.jpg")
      div.content
        p.theme O Espadachim de Carvão
        h2.title O Espadachim de Carvão
        p O Espadachim de Carvão e as Pontes de Puzur é o segundo volume da série de livros do autor Affonso Solano, publicada pela editora Leya. A obra está com média 4,5 estrelas.
    article.card.-tall.swiper-slide
      img.image(src="https://www.affonsosolano.com.br/wp-content/uploads/2013/07/EdC2_Capa_prevenda.jpg")
      div.content
        p.theme O Espadachim de Carvão
        h2.title As Pontes de Puzur
        p O Espadachim de Carvão e as Pontes de Puzur é o segundo volume da série de livros do autor Affonso Solano, publicada pela editora Leya. A obra está com média 4,5 estrelas no Submarino, Amazon, iTunes e Skoob.
    article.card.swiper-slide
      img.image(src="https://www.affonsosolano.com.br/wp-content/uploads/2017/02/images.livrariasaraiva.com_.jpg")
      div.content
        p.theme O Espadachim de Carvão
        h2.title As aventuras de Tamtul e Magano
        p Roteirizada e ilustrada por L.G. Quelhas e Zé Carlos, a 1ª HQ oficial do universo do Espadachim de Carvão é baseada nas Aventuras de Tamtul e Magano, livros que Adapak leu na infância. A história funciona como um spin-off/continuação do 2º livro da série: As Pontes de Puzur.
