article.o-grid.-columns-3.-center-x.footer
  section.left
    h1 Logo
  section.middle
    ul
      li MENU
      li MENU
      li MENU
      li MENU
  section.right
    p Instagram
    p Facebook
  section.bottom.full
    span @Vnda - Tecnologia para ecommerce / CNPJ: 00.000.000/0001-00
