header.swiper-container.c-full-banner.o-block
  div.swiper-wrapper
    div.swiper-slide
      img.o-full-image(src="https://via.placeholder.com/2400")
    div.swiper-slide
      img.o-full-image(src="https://via.placeholder.com/3000")
  div.o-cover.z-1.o-flex.-center.-column
    h1 Título do Banner
    p Call to Action
