article.o-grid.c-new-publication
  section.left
    h2(class="u-text-3 u-text-5@lg u-max-w-39 u-font-playfair") O Espadachim de Carvão
    p(class="u-mt-12 u-max-w-39").
      Filho de um dos quatro deuses de Kurgala, Adapak vive com o pai em sua ilha sagrada, afastada e adorada pelas diferentes espécies do mundo. Lá, o jovem de pele absolutamente negra e olhos brancos cresceu com todo o conhecimento divino a seu dispor, mas consciente de que nunca poderia deixar sua morada.
      Ao completar dezenove ciclos, no entanto, isso muda.
      Testemunhando a ilha ser invadida por um misterioso grupo de assassinos, Adapak se vê forçado a fugir pela vida e se expor aos olhos do mundo pela primeira vez, aplicando seus conhecimentos e uma exótica técnica de combate na busca pela identidade daqueles que desejam a morte dos Deuses de Kurgala.
    a.c-primary-button.bg-red.text-white.u-mt-12 Comprar
  section.o-block.right
    img.img-1(src="https://i3.ytimg.com/vi/dmU_G0hKqzY/maxresdefault.jpg")

