article.o-flex.c-newsletter-section
  p Assine nossa newsletter para novidades e promoções especiais.
  input(placeholder="Digite seu email aqui")
  a.c-primary-button.bg-red.text-white Call to action
