mixin card
  article.c-card-product.swiper-slide
    h3.title Categoria
    section.image
      span.flag Flag
      img.u-height-full.u-width-full.cover(src="https://via.placeholder.com/1600")
      span.price R$ 000,00
    p.name Nome do <br> Produto
    a.button Call to action

article.c-list-products
  h2.title Título da Seção
  section.list.swiper-wrapper
    +card
    +card
    +card
    +card
