article.o-grid.c-recommended-book
  section(class="u-p-20@lg u-p-10 u-mt-10")
    div(class="u-text-center u-text-left@md u-p-17@lg u-mt-8")
      h2(class="u-text-3 u-text-5@lg u-max-w-39 u-font-playfair") Você já assitiu "Eu, rôbo"?
      p(class="u-mt-12 u-max-w-39").
        O livro serviu como base para o roteiro do filme homônimo,
        no qual Will Smith interpreta o protagonista, o detetive Del Spooner.
        Porém, a obra é bastante diferente da história apresentada nas telonas.
        Eu, Robô é um conjunto de nove contos que relatam a evolução dos autômatos através do tempo. É neste livro que são apresentadas as célebres Três Leis da Robótica: os princípios que regem o comportamento dos robôs e que mudaram definitivamente a percepção que se tem sobre eles na própria ciência.
      a.c-primary-button.bg-red.text-white.u-mt-12 Adquirir
  section
    img.h-screen.w-full.u-object-cover(src="https://cheirodelivro.com/wp-content/uploads/2015/01/eu-robo-md.jpg")
