article.o-grid.c-recommended-author
  section.text-white.bg-red(class="u-p-20@lg u-p-10")
    div(class="u-text-center u-text-left@md u-p-17@lg")
      h2.title(class="u-text-3 u-text-5@lg u-max-w-39 u-font-playfair") Isaac Asimov
      p(class="u-mt-12 u-max-w-39").
        Isaac Asimov é um dos principais nomes da ficção científica mundial
        e um dos autores com mais obras do gênero publicadas na história.
        São mais de 500 títulos, sendo a Série Fundação (7 volumes) e a
        Saga dos Robôs (4 volumes) as obras mais importantes de sua carreira.
        Isaac Asimov é um dos principais nomes da ficção científica mundial
        e um dos autores com mais obras do gênero publicadas na história.
        São mais de 500 títulos, sendo a Série Fundação (7 volumes) e a
        Saga dos Robôs (4 volumes) as obras mais importantes de sua carreira.
      a.c-primary-button.u-mt-12.text-black.bg-yellow Conhecer a Obra
  section.right.u-display-none(class="u-display-block@lg")
    img.image-right(src="https://lojasaraiva.vteximg.com.br/arquivos/ids/3953083/710530.jpg?v=637048483901170000")
    img.image-top(src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse4.mm.bing.net%2Fth%3Fid%3DOIP.rvH9-sTnQczIPeZjtJ3lXgHaLK%26pid%3DApi&f=1")
  section.bottom
    img.image(src="https://karsh.org/wordpress/wp-content/uploads/2020/01/Yousuf-Karsh-Isaac-Asimov-1985.jpg")
