article.c-fluid-banner
  img.image(src="https://via.placeholder.com/1600")
  section.title
    h2 Título do banner
    p lorem ipsum
  section.content
    p / Lorem ipsum dolor sit amet, consectetur
    p / Lorem ipsum dolor sit amet, consectetur
    p / Lorem ipsum dolor sit amet, consectetur
    img(src="https://via.placeholder.com/1600")
