article.c-where-to-find
  h2.title ONDE ENCONTRAR
  p.location
    svg(xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor")
      path(fill-rule="evenodd" d="M5.05 4.05a7 7 0 119.9 9.9L10 18.9l-4.95-4.95a7 7 0 010-9.9zM10 11a2 2 0 100-4 2 2 0 000 4z" clip-rule="evenodd")
    span Av Praia de Belas, 1181 Loja 05 - 2º Piso - Praia de Belas, Porto Alegre - RS, 90110-001
  p.location
    svg(xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor")
      path(fill-rule="evenodd" d="M5.05 4.05a7 7 0 119.9 9.9L10 18.9l-4.95-4.95a7 7 0 010-9.9zM10 11a2 2 0 100-4 2 2 0 000 4z" clip-rule="evenodd")
    span Av. Túlio de Rose, 80 - Loja 302 - 2º Piso - Jardim Europa, Porto Alegre - RS, 91340-110
  p.location
    svg(xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor")
      path(fill-rule="evenodd" d="M5.05 4.05a7 7 0 119.9 9.9L10 18.9l-4.95-4.95a7 7 0 010-9.9zM10 11a2 2 0 100-4 2 2 0 000 4z" clip-rule="evenodd")
    span Av. Paulista, 509 - Bela Vista, São Paulo - SP, 01311-910

