.fullbanner {
    width: 100%;
    height: 85vh;
    margin-top: 2%;
    &-containerimg {
        height: 65vh;
        position: relative;
    }
    &-img {
        width: 100%;
        height: 100%;
    }
    &-overlay {
        position: absolute;
        top: 0;
        height: 100%;
        width: 100%;
        max-width: 1100px;
        display: flex;
        left: 50%;
        transform: translate(-50%);
    }
    &-half {
        width: 50%;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        position: relative;
    }
    &-title {
        font-size: 28px;
        max-width: 200px;
        margin-bottom: 40px;
        color: $colortxtOne;
    }
    .-withheader {
        position: absolute;
        margin-bottom: -10%;
        box-shadow: none;
        .banner-containerimg {
            box-shadow: 0 0 15px 5px #ababab;
        }
    }

    @include bkp(md) {
        & .-withheader {
            margin-bottom: -30%;
            margin-left: 7%;
        }
        & .banner-headerinfo-item {
            font-size: 10px;
        }
        &-title {
           font-size: 24px;    
           padding: 10px
        }
    }
}