.half-to-half {
    width: 100%;
    height: 100vh;
    display: flex;
    &-banners {
        width: 50%;
        height: 100vh;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        position: relative;
    }
    .banner.-big-medium {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%);
    }
   @include bkp(md) {
      & {
        flex-direction: column ;
        height: initial;
        overflow: hidden;
      }
      &-banners {
        width: 100%;
        height: 50vh;
      }
      & .blocktext,
      & .banner.-half {
         width: 100%;
         max-width: 100%;
      }
      & .blocktext-inner {
         padding: 20px;      
      }
      & .blocktext-text {
         padding: 10px;      
      }
      & .banner.-big-medium {
        position: relative;
        transform: translate(0);
        top: initial;
        left: initial;
        width: 50%;
        max-width: 50%;
        height: 100%;
    }
    & .banner.-big-slim {
        width: 50%;
        max-width: 50%;
        height: 100%;
    }
   }
}