.header {
    z-index: $menu-index;
    background-image: linear-gradient(rgba(18,116,218,0.5), transparent) ;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    width: 100%;
    color: $colortxtOne;
    position: fixed;
    &-containerimg {        
        padding-left: 61px;
        @extend %flex-centered;
    }
    &-logo {
        max-width: 70px;
        max-height: 70px;
        height: 100%;
        width: 100%;
        @include bkp(md){
            max-width: 60px;
            max-height: 60px;
        }
    }
    &-nav {
        @extend %flex-center-between;
    }
    &-list {
        @extend %flex-centered;
        width: 100%;
        transition: opacity 0.6s, width 0.4s;    
    }
    &-listicons {
        @extend %flex-centered;
        font-size: 24px;
    }
    &-item {
        margin: 10px;
        font-size: 14px;
        cursor: pointer;
        &:hover {
            color: $colorSecondary
        }
    }
    &-icon {
        margin: 10px;
        cursor: pointer;
        &:hover {
            transform: scale(1.1);
        }
    }
    .close-menu {
       display: none;
       color: $colorExtra1;
    }
    @include bkp(md) {
        &.-menuopen {
            .close-menu {    
                display: block;
                padding: 5px 10px;
                position: absolute;
                right: 0;
                top: 0;
                background-color: $colorPrimary;
            }            
            .header-list {
                background-color: $colorExtra1;
                display: block;
                overflow: inherit;
                opacity: 1;
                position: fixed;
                width: 90%;
                height: 100%;
                left: 0;
                top: 0;  
                z-index: $menu-index;  
                color: $colorSecondary; 
                padding-top: 25px;         
            }
            
        }
        &-containerimg {
            order: 2;
        }
        &-list {
            order: 1;
            width: 0;
            opacity: 0;
            overflow: hidden;
        }
        &-listicons {
            order: 3;
            font-size: 20px;
        }
    }
}