.productcard {
    width: 100%;
    max-width: 300px;
    &-inner {
        width: fit-content;
        &:hover {
            box-shadow: 0 0 5px 5px rgb(216, 216, 216);       
        }
    }
    &-categoryname {
        margin-bottom: 25px;
        text-align: center;
        text-transform: uppercase;
        font-size: 20px;
    }
    &-containerimg {
        position: relative;
        width: 100%;
        height: 100%;
        max-width: 250px;
        max-height: 400px; 
    }
    &-img {
        padding: 30px;
        width: 100%;
        max-width: 250px;
        height: 400px;
    }
    &-flag {
        border-radius: 10px;
        background: $colorQuinary;
        width: fit-content;
        padding: 5px 15px;
        position: absolute;
        top: 10px;
        left: 10px;
        text-transform: uppercase;
    }
    &-name {
        text-align: center;
        padding: 20px;
        font-size: 18px
    }
    &-btn {
        @extend %flex-centered;
        width: 100%; 
        height: 50px;
        font-weight: 700;
        font-size: 18px;
        text-transform: uppercase;
        border-radius: 0;
        background-color: $colorSecondary;
        border: none;
        &:hover {
            opacity: 0.7;
        }
    }

    @include bkp(md) {
        &-title {
            font-size: 24px
        }
        .productcard-inner{
            margin: auto;
        }
    }
}