.c-first-section {
  margin-bottom: 145px;

  &__wrapper {
    display: flex;
    justify-content: space-between;
  }
  &__left {
    background-color: var(--color-cultured);

    max-width: 60%;
    position: relative;
    padding-bottom: 130px;
  }
  &__content {
    margin-left: calc((100vw - 1120px));
    margin-top: 180px;
  }
  &__title {
    font-family: var(--font-playfair-display);
    margin: 1em 0;
  }
  &__paragraph {
    max-width: 60%;
    margin: 1em 0;
  }

  &__figure-left {
    position: absolute;
    bottom: -175px;
    right: -175px;
    z-index: 100;
  }
  &__figure-right {
    position: relative;
    &--first {
      position: relative;
      right: 160px;
      z-index: 100;
    }
    &--last {
      position: absolute;
      right: 0;
      top: 200px;
      z-index: 90;
    }
  }
  @include breakpoint(large-only) {
    margin-bottom: 145px;

    &__content {
      margin-left: 20px;
    }
    &__title {
      max-width: 90%;
    }

    &__figure-left {
      transform: scale(0.75);
    }
    &__figure-right {
      &--first {
        right: 40px;
      }
    }
  }
  @include breakpoint(small-only) {
    margin-bottom: 145px;

    &__wrapper {
      display: flex;
      flex-direction: column;
    }
    &__left {
      background-color: var(--color-cultured);

      max-width: 100%;
      position: relative;
      padding-bottom: 0px;
    }
    &__content {
      margin-left: 10px;
      margin-top: 10px;
      margin-right: 10px;
    }
    &__title {
      font-family: var(--font-playfair-display);
      margin: 1em 0;
      max-width: 100%;
    }
    &__paragraph {
      max-width: 100%;
      margin: 1em 0;
    }

    &__figure-left {
      position: relative;
      bottom: 0px;
      right: 0px;
      z-index: 100;
    }
    &__figure-right {
      position: relative;

      &--first {
        position: relative;
        left: 3%;
        z-index: 100;
      }
      &--last {
        position: absolute;
        right: 3%;
        top: 100px;
        z-index: 90;
      }
    }
  }
  @include breakpoint(small-only) {
  }
}
