.c-section-quintuple {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 1.6em;

  h2 {
    font-size: 0.9em;
    margin-bottom: 2em;
    font-family: var(--font-playfair-display);
  }
  p {
    span {
      font-weight: 800;
    }
  }
}
