//Main-banner
.full-banner {
    position: relative;
    height: 100%;
    transition: all .5s ease-out;

    @media screen and (max-width: $medium) {
        height: 100vh;
    }
    .swiper-container-main {
        height: 100%;
        width: 100%;

        .swiper-slide {
            position: relative;

            > .main-banner-image {
                display: block;
                width: 100vw;
                height: 100vh;
                object-fit: cover;
                object-position: bottom;
            }

            > .main-banner-info {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translateX(-50%) translateY(-50%);

                padding: 1rem;
                
                @include flex-between-center;
                flex-direction: column;
                @include letterTransform;
                

                .main-banner-title {
                    color: var(--primary-color);
                    text-shadow: 2px 2px 4px var(--secondary-color);
                    text-align: center;
                    font-size: 2.3rem;
                    line-height: 3rem;
                    margin-bottom: 1rem;

                    @media screen and (max-width: $large) {
                        font-size: 2rem;
                    }

                    @media screen and (max-width: $medium) {
                        font-size: 1.6rem;
                    }
                }

                .main-banner-btn {
                    margin-top: 4rem;
                    font-size: 4rem;
                    line-height: 4rem;
                    text-align: center;
                    font-size: 4rem;
                    color: var(--primary-color);
                    text-shadow: 2px 2px 4px var(--secondary-color);

                    &:hover {
                        animation: pulse-effect 1.5s infinite;
                    }

                    @media screen and (max-width: $medium) {
                        font-size: 3.2rem;
                    }

                    @media screen and (max-width: $small) {
                        font-size: 2.8rem;
                    }
                }
            }
        }
    }
}
