.quote {
  .content {
    padding: 2rem;

    background-color: $third-color;

    border-top: .2rem solid $fourth-color;
    border-bottom: .2rem solid $fourth-color;

    blockquote {
      text-align: center;

      q {
        font-family: $first-font;
        font-size: 2.5rem;
        color: $fourth-color;
      }
    }
  }
}