// Colors
$first-color: #fff;
$second-color: #f6f6f6;
$third-color: #f5e5d9;
$fourth-color: #272727;
$fifth-color: #000;

// Fonts
$first-font: 'Playfair Display', serif;
$second-font: 'PT Sans', sans-serif;

// Fonts size
