.container {
  padding-left: 30px;
  padding-right: 30px;
}

@media (min-width:1200px) {
  .container {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (min-width:1400px) {
  .container {
    padding-left: 60px;
    padding-right: 60px;
  }
}

@media (min-width:1500px) {
  .container {
    padding-left: 100px;
    padding-right: 100px;
  }
}

@media (max-width: 767px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}