@font-face {
  font-family: 'PT Sans';
  src: url(../fonts/PTSans-Regular.ttf);
  font-weight: normal;
}

@font-face {
  font-family: 'PT Sans';
  src: url(../fonts/PTSans-Bold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: 'Playfair Display';
  src: url(../fonts/PlayfairDisplay-Regular.ttf);
  font-weight: normal;
}

@font-face {
  font-family: 'Playfair Display';
  src: url(../fonts/PlayfairDisplay-Bold.ttf);
  font-weight: bold;
}