/***********************************************************************/
// Basic colors
$body: #151515;
$primary_color: #00665c;
$second_color: #6b7177;

//== Media queries breakpoints
$screen-xs: 479px;

// Small screen / tablet
$screen-sm: 767px;

// Medium screen / desktop
$screen-md: 991px;

// Large screen / wide desktop
$screen-lg: 1199px;

// Mixin
$min: min-width;
$max: max-width;
@mixin at-query ($constraint, $viewport1, $viewport2:null) {
  @if $constraint == $min {
    @media screen and ($min: $viewport1) {
      @content;
    }
  } @else if $constraint == $max {
    @media screen and ($max: $viewport1) {
      @content;
    }
  } @else {
    @media screen and ($min: $viewport1) and ($max: $viewport2) {
      @content;
    }
  }
}

body {
  color: $body;
  font-family: 'PT Sans', sans-serif;
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair Display', serif;
}

a, button {
  color: $body;
  text-decoration: none;
  cursor: pointer;
  transition: .3s;
}

.row {
  display: flex;
  flex-wrap: wrap;

  &.align-center {
    align-items: center;
  }
}

.col-6 {
  width: 50%;

  @include at-query ($max, $screen-sm){
    width: 100%;
  }
}

.col-4 {
  width: 33%;

  @include at-query ($max, $screen-sm){
    width: 100%;
  }
}

.btn-primary {
  border: 1px solid $body;
  background-color: $body;
  color: #fff;

  &:hover {
    background-color: transparent;
    color: $body;
  } 
}

.btn-secondary {
  border: 1px solid $body;
  background-color: transparent;
  color: $body;

  &:hover {
    background-color: $body;
    color: #fff;
  } 
}

.header_transparent_true {
  .header {
    position: absolute;
  }
}

.header {
  top: 0;
  left: 0;
  width: 100%;
  z-index: 4;

  &.sticky {
    position: fixed;
    border-bottom: 1px solid #e5e5e5;
    background-color: #fff;
  }

  .container {
    display: flex;
    -webkit-box-pack: space-between;
    -moz-box-pack: space-between;
    -ms-flex-pack: space-between;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    min-height: 90px;
  }
}

.logo {
  padding: 10px 0;

  img {
    width: 135px;

    @include at-query ($max, $screen-xs){
      width: 100px;
    }
  }
}

.navigation {
  @include at-query ($max, $screen-md){
    display: none;
  }

  .item {
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
  
    a {
      position: relative;
      text-transform: uppercase;
      letter-spacing: 0.1em;
  
      &:after {
        content: "";
        height: 2px;
        width: 100%;
        background-color: $primary_color;
        position: absolute;
        bottom: 0;
        left: 0;
        transform: scaleX(0);
        transition: transform 200ms linear;
        transform-origin: center left;
      }
  
      &:hover:after {
        transform: scale(1);
      }
    }
  }
}

.menu-mobile {
  background-color: #fff;
  width: calc(100% - 57px);
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  transform: translateX(-125%);
  transition: transform .2s;    
  z-index: 5;

  &.active {
    transform: translateX(0);
  }

  .item a {
    border-bottom: 1px solid #e5e5e5;
    letter-spacing: .1em;
    font-size: 14px;
    padding: 20px;
    display: block;
  }

  .menu-title {
    text-transform: uppercase;
    letter-spacing: 0.3px;
    font-weight: 600;
    font-size: 14px;
    padding: 5px 10px;
    height: 55px;
    background-color: rgba(0, 0, 0, 0.05);
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid #151515;
  }

  .close-menu-mb {
    position: fixed;
    right: -57px;
    top: 0;
    color: #fff;
    z-index: 5;
    background-color: #151515;
    width: 55px;
    height: 55px;

    &::before {
      width: 23px;
      height: 1px;
      display: block;
      content: "";
      position: absolute;
      transform-origin: 50% 50%;
      top: 28px;
      left: 16px;
      transform: rotate(-45deg);
      background: #ffffff;
    }

    &::after {
      width: 23px;
      height: 1px;
      display: block;
      content: "";
      position: absolute;
      transform-origin: 50% 50%;
      top: 28px;
      left: 16px;
      transform: rotate(45deg);
      background: #ffffff;
    }
  }
}

.header-actions {
  display: flex;
  -webkit-box-pack: flex-end;
  -moz-box-pack: flex-end;
  -ms-flex-pack: flex-end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;

  li {
    padding: 0 10px;

    &.menu-hamburguer {
      display: none;

      @include at-query ($max, $screen-md){
        display: block;
      }
      
      button {
        background: none;
        border: none;
      }
    }
  }

  .cart {
    position: relative;

    .cart-count {
      position: absolute;
      font-size: 10px;
      height: 15px;
      line-height: 15px;
      color: #fff;
      display: block;
      top: -10px;
      right: 3px;
      min-width: 15px;
      text-align: center;
      padding: 0;
      background-color: $primary_color;
      border-radius: 50%;
    }
  }
}

.image-slider {
  padding-top: 40%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;

  @include at-query ($max, $screen-sm){
    padding-top: 125%;
  }
  
  .content-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  h2 {
    font-size: 46px;
    margin-bottom: 30px;

    @include at-query ($max, $screen-sm){
      font-size: 36px;
    }
  }

  span {
    font-size: 22px;
    font-weight: 700;
    border-bottom: 1px solid #000;
    text-transform: uppercase;

    @include at-query ($max, $screen-sm){
      font-size: 18px;
    }
  }
}

.swiper-container {
  .swiper-button-next, 
  .swiper-button-prev {
    color: $primary_color;
  }
  
  .swiper-pagination-bullet-active {
    background: $primary_color;
  }

  .swiper-pagination-bullet {
    background: $primary_color;
    width: 12px;
    height: 12px;
  }
}

.section-featured-columns {
  .column-top-left,
  .column-bottom-left {
    width: 60%;
    display: inline-block;
    background-color: #ecebeb;

    @include at-query ($max, $screen-md){
      width: 100%;
    }

    .container {
      padding-top: 120px;
      padding-bottom: 120px;

      @include at-query ($max, $screen-md){
        padding-top: 50px;
        padding-bottom: 50px;
      }
    }

    h2 {
      font-size: 40px;
      margin-bottom: 40px;
      letter-spacing: 0.16em;
      text-transform: uppercase;

      @include at-query ($max, $screen-md){
        font-size: 32px;
      }
    }

    p {
      font-size: 18px;
      line-height: 1.666;
      margin-bottom: 60px;
      max-width: 50%;

      @include at-query ($max, $screen-md){
        max-width: none;
      }
    }

    a {
      font-size: 18px;
      letter-spacing: 0.16em;
      text-transform: uppercase;
      padding: 10px 25px;
    }
  }

  .column-top-left {
    .container {
      @include at-query ($max, $screen-lg){
        padding-top: 50px;
      }
    }
  }

  .column-top-right {
    width: 40%;
    display: inline-block;
    position: relative;

    @include at-query ($max, $screen-md){
      width: 100%;

      .container {
        display: flex;
      }
    }

    .first-image {
      width: 45%;
      position: absolute;
      top: 0;
      right: 30%;
      z-index: 1;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

      @include at-query ($max, $screen-lg){
        width: 55%;
      }

      @include at-query ($max, $screen-md){
        position: static;
        width: 50%;
        -webkit-box-shadow: none;
        box-shadow: none;
        padding-right: 15px;
        padding-bottom: 15px;
        padding-top: 15px;
      }
    }

    .last-image {
      width: 45%;
      position: absolute;
      top: 40%;
      right: 0;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

      @include at-query ($max, $screen-lg){
        width: 55%;
      }

      @include at-query ($max, $screen-md){
        position: static;
        width: 50%;
        -webkit-box-shadow: none;
        box-shadow: none;
        padding-bottom: 15px;
        padding-top: 15px;
      }
    }
  }

  .column-center-image {
    img {
      width: 50%;
      display: block;
      margin: -90px auto 0;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;


      @include at-query ($max, $screen-md){
        margin: 0;
        width: 100%;
        -webkit-box-shadow: none;
        box-shadow: none;
      }
    }
  }

  .column-bottom-left {
    background-color: transparent;
  }

  .column-bottom-right {
    width: 40%;
    margin-top: -90px;

    @include at-query ($max, $screen-md){
      width: 100%;
    }

    img {
      width: 100%;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

    }
  }
}

.section-featured-products,
.section-featured-products2 {
  margin-top: 150px;

  @include at-query ($max, $screen-md){
    margin-top: 80px;
  }

  h2 {
    font-size: 40px;
    letter-spacing: 0.16em;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 75px;

    @include at-query ($max, $screen-md){
      font-size: 32px;
    }
  }

  .products {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    position: relative;

    @include at-query ($max, $screen-md){
      display: block;
    }
  }

  .product {
    flex: 0 0 25%;
    max-width: 25%;
    text-align: center;
    padding-right: 15px;
    padding-left: 15px;
    box-sizing: border-box;
    position: relative;

    @include at-query ($max, $screen-md){
      flex: 0 0 50%;
      max-width: 50%;
    }

    @include at-query ($max, $screen-sm){
      flex: 0 0 100%;
      max-width: 100%;
    }

    img {
      width: 100%;
    }

    .product-category {
      font-size: 16px;
      text-transform: uppercase;
      letter-spacing: 0.16em;
      margin-bottom: 30px;
      color: $second_color;
    }

    .product-title {
      font-size: 24px;
      line-height: 24px;
      margin: 25px 0;
    }

    .add-to-cart {
      display: block;
      width: 100%;
      font-size: 16px;
      letter-spacing: 0.16em;
      text-transform: uppercase;
      padding: 10px;
    }

    .price {
      position: absolute;
      bottom: 140px;
      left: 50%;
      transform: translateX(-50%);
      font-size: 18px;
      font-weight: 700;
    }

    .label-product {
      position: absolute;
      z-index: 1;
      font-size: 14px;
      padding: 4px 8px 4px 8px;
      line-height: 20px;
      text-align: center;
      top: 60px;
      left: 0;
      color: #fff;
      text-transform: uppercase;
      letter-spacing: 0.05em;
      -ms-transform: rotate(-90deg);
      -moz-transform: rotate(-90deg);
      -webkit-transform: rotate(-90deg);
      transform: rotate(-90deg);
      max-width: 100px;
      width: 100%;

      &.new {
        background-color: $primary_color;
      }

      &.sale {
        background-color: #1c1c1c;
      }
    }
  }

  .swiper-container .swiper-button-next, 
  .swiper-container .swiper-button-prev {
    @include at-query ($min, $screen-md + 1){
      display: none;
    }
  }
}

.section-text {
  padding: 120px 0;

  @include at-query ($max, $screen-sm){
    padding: 80px 0;
  }

  p {
    max-width: 600px;
    display: block;
    margin: 0 auto;
    text-align: center;
    font-size: 24px;
  }
}

.section-text-with-image {
  background-color: #ecebeb;
  margin-top: 100px;

  @include at-query ($max, $screen-sm){
    margin-top: 0;
  }

  .col-6 {
    &.right {
      text-align: right;
      margin-top: -100px;

      @include at-query ($max, $screen-sm){
        margin-top: 80px;
        width: 100%;
      }
    }

    @include at-query ($max, $screen-sm){
      width: 100%;
    }
  }
  

  img {
    width: 80%;

    @include at-query ($max, $screen-sm){
      width: 100%;
    }
  }

  h2 {
    font-size: 40px;
    margin-bottom: 40px;
    letter-spacing: 0.16em;
    text-transform: uppercase;

    @include at-query ($max, $screen-lg + 100){
      font-size: 32px;
      padding-top: 50px;
    }
  }

  p {
    font-size: 18px;
    line-height: 1.666;
    margin-bottom: 60px;
    max-width: 50%;

    @include at-query ($max, $screen-lg){
      max-width: none;
    }
  }

  a {
    font-size: 18px;
    letter-spacing: 0.16em;
    text-transform: uppercase;
    padding: 10px 25px;
  }
}

.section-blog-posts {
  padding: 120px 0;
  background-color: #ecebeb;

  @include at-query ($max, $screen-sm){
    padding: 80px 0;
  }

  .swiper-wrapper {
    align-items: center;
  }

  article {
    width: 33%;
    height: 100%;
    z-index: 2;

    &:first-child {
      z-index: 3;

      .post-image {
        padding-top: 100%;
      }
    }

    &:last-child {
      z-index: 1;

      .post-image {
        padding-top: 100%;
      }
    }
  }

  .post-info {
    padding: 30px 50px;
    color: $second_color;

    @include at-query ($max, $screen-sm){
      padding: 30px 0;
    }
  }

  .post-category {
    color: $primary_color;
    display: block;
    font-weight: 600;
    margin-bottom: 10px;
  }

  .post-time {
    display: block;
    margin-bottom: 10px;
  }

  h4 {
    font-family: 'PT Sans', sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: $body;
    margin-bottom: 10px;
  }

  .post-image {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    width: 105%;
    height: 100%;
    padding-top: 130%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

    @include at-query ($max, $screen-sm){
      width: 100%;
      padding-top: 100%;
    }
  }

  .swiper-container .swiper-button-next, 
  .swiper-container .swiper-button-prev {
    @include at-query ($min, $screen-sm + 1){
      display: none;
    }
  }
}

.section-full-banner {
  .image {
    padding-top: 40%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;

    &::before {
      content: '';
      opacity: .7;
      position: absolute;
      background: #fff;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }

    @include at-query ($max, $screen-lg){
      padding-top: 50%;
    }

    @include at-query ($max, $screen-sm){
      padding-top: 120%;
    }
  }

  .container {
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 100px;

    @include at-query ($max, $screen-lg){
      padding-top: 50px;
    }

    @include at-query ($max, $screen-sm){
      padding-top: 0;
    }
  }

  img {
    width: 50%;
  }

  p {
    margin-bottom: 1.3em;
  }

  h2 {
    font-size: 40px;
    margin-top: 100px;
    letter-spacing: 0.16em;
    text-transform: uppercase;

    @include at-query ($max, $screen-lg){
      margin-top: 0;
    }

    @include at-query ($max, $screen-sm){
      font-size: 32px;
      margin-top: 50px;
      margin-bottom: 30px;
    }
  }

  @include at-query ($max, $screen-sm){
    .col-6 {
      order: 2;
  
      &.last {
        order: 1;
      }
    }
  }
}

.section-addresses {
  padding-top: 200px;
  padding-bottom: 120px;

  @include at-query ($max, $screen-sm){
    padding-top: 150px;
    padding-bottom: 80px;
  }

  .address {
    max-width: 370px;
    margin: 0 auto;
  }

  h4 {
    font-size: 28px;
    margin-bottom: 40px;
    letter-spacing: 0.16em;
    text-transform: uppercase;
    text-align: center;
  }

  p {
    color: $second_color;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
  }

  img {
    margin-right: 15px;
  }
}

.section-newsletter {
  .col-title {
    width: 40%;

    @include at-query ($max, $screen-sm){
      width: 100%;
    }
  }

  .col-form {
    width: 60%;

    @include at-query ($max, $screen-sm){
      width: 100%;
    }
  }

  h3 {
    font-size: 28px;
    letter-spacing: 0.14em;
    padding-right: 20px;

    @include at-query ($max, $screen-sm){
      margin-bottom: 30px;
    }
  }

  .input {
    width: calc(100% - 330px);
    height: 48px;
    border: none;
    border-bottom: 1px solid #151515;
    font-size: 18px;

    @include at-query ($max, $screen-md){
      width: calc(100% - 155px);
    }

    @include at-query ($max, $screen-xs){
      width: calc(100% - 115px);
      font-size: 16px;
    }
  }

  button {
    height: 48px;
    width: 320px;
    font-size: 16px;
    letter-spacing: 0.16em;
    text-transform: uppercase;
    padding: 10px;

    @include at-query ($max, $screen-md){
      width: 150px;
    }

    @include at-query ($max, $screen-xs){
      width: 110px;
    }
  }
}

.footer-top {
  margin-top: 120px;
  padding: 80px 0;
  background-color: #ecebeb;

  .logo-footer img {
    width: 50%;
  }

  .menu-item {
    line-height: 30px;
    margin-bottom: 5px;

    a {
      color: $second_color;

      &:hover {
        color: $primary_color;
      }
    }
  }

  .social {
    span, 
    img {
      display: inline-block;
      vertical-align: middle;
    }

    img {
      margin-right: 15px;
    }

    a {
      display: block;
      color: $second_color;
      margin-bottom: 15px;

      &:hover {
        color: $primary_color;
      }
    }
  }

  @include at-query ($max, $screen-sm){
    .menu-footer {
      margin: 60px 0;
    }

    .container {
      text-align: center;
    }
  }
}

.footer-bottom {
  text-align: center;
  padding-bottom: 50px;
  background-color: #ecebeb;
  color: $second_color;
}
