// -------------- RESPONSIVIDADE

@media screen and (max-width: 1476px) {
  .container {
    max-width: 1200px !important;
  }

  .header {
    .container {
      .header__logo {
        a {
          h1:nth-of-type(1) {
            font-size: 30px;
          }
          h1:nth-of-type(2) {
            font-size: 20px;
          }
        }
      }
      .header__menu {
        ul {
          li {
            a {
              font-size: 14px;
            }
          }
        }
      }
      .header__icons {
        .header__icon {
          .icon {
            font-size: 17px;
          }
        }
      }
    }
  }

  .showcase {
    .showcase__container {
      .showcase__items {
        .showcase__item {
          .showcase__item__container {
            .showcase__item__buy_button {
              button {
                font-size: 18px;
              }
            }
          }
        }
      }
    }
  }

  .news {
    height: 1200px;
  
    .container {      
      .news__container {
        width: 380px;
  
        .news__container__small__image {
          width: 380px;
          height: 380px;
        }
        .news__container__large__image {
          width: 380px;
          height: 500px;
        }
      }
      .news__container:nth-of-type(1) {
        margin-bottom: 100px;
      }
      .news__container:nth-of-type(2) {
        .news__container__content  {
          padding: 20px 40px;
        }
      }
      .news__container:nth-of-type(3) {
        margin-bottom: 100px;
      }
    }
  }

  .budget, .find-us{
    margin-bottom: 80px;
  }

  .newsletter  {
    margin-bottom: 120px;
  }
}

@media screen and (max-width: 1280px) {
  .container {
    max-width: 1000px !important;
  }

  .header {
    .container {
      .header__logo {
        a {
          h1:nth-of-type(1) {
            font-size: 26px;
          }
          h1:nth-of-type(2) {
            font-size: 16px;
          }
        }
      }
      .header__menu {
        ul {
          margin-top: 0;
          li {
            a {
              font-size: 11px;
            }
          }
        }
      }
      .header__icons {
        .header__icon {
          .icon {
            font-size: 16px;
          }
        }
      }
    }
  }

  .section {
    .section__left_container {
      display: flex;
      width: 55%;
      height: 100%;
      padding: 80px;
      flex-direction: column;
      justify-content: center;
  
      p:nth-of-type(1) {
        font-size: 34px;
        margin-bottom: 40px;
      }
      p:nth-of-type(2) {
        width: 90%;
      }
      button {
        padding: 10px 40px;
      }
    }
  }

  .about-us {  
    .about-us__right {      
      .about-us__images.first {
        width: 70%;
      }
      .about-us__images.second {
        width: 80%;
      }
      .about-us__images.third {
        width: 360px;
        height: 360px;
      }
    }
  }

  .showcase {
    margin-bottom: 60px;
  
    .showcase__container {
      .showcase__title {
        padding: 20px 0 10px 0;
        font-size: 28px;
        margin-bottom: 0;
      }
  
      .showcase__items {
        .showcase__items__arrows {
          img {
            width: 30px;
          }
        }
  
        .showcase__item {
          .showcase__item__category {
            font-size: 18px;
          }
  
          .showcase__item__container {
            .showcase__item__image {
              height: 280px;
  
              .showcase__item__image__flag {
                font-size: 14px;
                padding: 8px 10px;
              }
            }
            .showcase__item__buy_button {
              button {
                font-size: 18px;
                padding: 10px 0;
              }
            }
          }
        }
      }
    }
  }

  .news {
    height: 1000px;
  
    .container {
      padding-top: 200px; 
      .news__container {
        width: 310px;

        .news__container__content {
          .news__container__title {
            font-size: 21px;
          }
        }
        .news__container__small__image {
          width: 310px;
          height: 310px;
        }
        .news__container__large__image {
          width: 310px;
          height: 440px;
        }
      }
      .news__container:nth-of-type(1) {
        margin-bottom: 100px;

        .news__container__content  {
          padding: 20px 60px 20px 20px;
        }
      }
      .news__container:nth-of-type(2) {
        .news__container__content  {
          padding: 20px;
        }
      }
      .news__container:nth-of-type(3) {
        margin-bottom: 100px;

        .news__container__content  {
          padding: 20px 20px 20px 60px;
        }
      }
    }
  }

  .budget {
    .container {
      .budget__container__left {
        padding: 40px;
  
        .budget__image {
          img {
            width: 400px;
          }
        }
      } 
      .budget__container__right {
        padding: 40px;

        .budget__form {  
          .budget__form__infos {
            input[type="text"] {
              width: 55%;
            }
            input[type="number"] {
              width: calc(45% - 10px);
            }
          }
        }
      }
    }
  }

  .newsletter {
    .container {
      .newsletter__form {
        input[type="email"] {
          width: calc(75% - 10px);
        }
        input[type="submit"] {
          width: 25%;
        }
      }
    }
  }

  .footer {
    .container {
      .footer__top {
        .footer__infos {
          padding: 20px;
          a {
            h1:nth-of-type(1) {
              font-size: 30px;
            }
            h1:nth-of-type(2) {
              font-size: 20px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1080px) {
  .container {
    max-width: 800px !important;
  }

  .header {  
    .container {
      .header__logo {
        width: 82%;
      }
    
      .header__menu {
        display: none;
      }
    
      .header__icons {
        width: 10%;
    
        .header__icon {
          margin-top: 2px;
          .icon {
            font-size: 18px;
          }
        }
      }
  
      .header__menu_responsive {
        display: flex;
      }
    }
  }

  .main-banner {
    height: 85vw;
  }

  .section {
    height: 700px;
  
    .section__left_container {
      padding: 60px;
  
      p:nth-of-type(1) {
        font-size: 26px;
        margin-bottom: 25px;
      }
      p:nth-of-type(2) {
        width: 100%;
        font-size: 18px;
        margin-bottom: 40px;
      }
      button {
        font-size: 16px;
        padding: 10px 40px;
      }
    }
  }

  .about-us {
    margin-bottom: 120px;

    .about-us__right {      
      .about-us__images.first {
        width: 70%;
        height: 380px;
        right: 0;
        top: 35%;
      }
  
      .about-us__images.second {
        width: 70%;
        height: 380px;
        right: 80px;
      }
  
      .about-us__images.third {
        width: 280px;
        height: 280px;
        right: 100%;
        top: 100%;
        transform: translate(50%, -50%);
      }
    }
  }

  .showcase {
    .showcase__container {
      .showcase__title {
        padding: 20px 0 5px 0;
        font-size: 26px;
      }
      .showcase__items {
        .showcase__items__arrows {
          img {
            width: 26px;
          }
        }
        .showcase__item {
          padding: 10px;
  
          .showcase__item__container {
            .showcase__item__image {
              height: 260px;
            }
            .showcase__item__buy_button {
              button {
                font-size: 16px;
              }
            }
          }
        }
      }
    }
  }

  .text-banner {
    margin-bottom: 80px;
  
    .text-banner__text {
      font-size: 26px;
      width: calc(100% - 200px);
      margin: 100px;
      margin-bottom: 16px;
    }
  }

  .news {
    height: 900px;
  
    .container {
      padding-top: 150px; 
      .news__container {
        width: 260px;

        .news__container__content {
          font-size: 17px;

          .news__container__title {
            font-size: 19px;
          }
        }
        .news__container__small__image {
          width: 260px;
          height: 260px;
        }
        .news__container__large__image {
          width: 260px;
          height: 360px;
        }
      }
    }
  }

  .budget {
    .container {
      .budget__container__left {
        font-size: 18px;

        .budget__image {
          img {
            width: 300px;
          }
        }
      } 
      .budget__container__right {
        .budget__form {
          p:nth-of-type(1) {
            font-size: 28px;
          }
          p:nth-of-type(2) {
            font-size: 20px;
            margin-bottom: 20px;
          }
          p:nth-of-type(3) {
            font-size: 20px;
            margin-bottom: 20px;
            text-align: right;
          }

          .budget__form__infos {
            justify-content: flex-end;

            input {
              padding: 8px 10px;
              font-size: 14px;
            }
            input[type="text"] {
              width: 100%;
            }
            input[type="number"] {
              width: 100%;
              margin-left: 0;
            }
            input[type="email"] {
              width: 100%;
              margin-right: 0;
            }
            input[type="submit"] {
              width: 30%;
            }
          }
        }
      }
    }
  }

  .find-us {
    .container {
      .find-us__container__left {
        padding: 20px;
      }
  
      .find-us__container__right {
        padding: 60px 20px 60px 0;
      }
    }
  }

  .newsletter {
    margin-bottom: 100px;
  
    .container { 
      padding: 0 20px;
      .newsletter__text {
        font-size: 16px;
      }
  
      .newsletter__form {
        width: calc(70% - 20px);
        margin-left: 20px;
        height: 40px;
  
        input {
          padding: 10px 12px;
          font-size: 16px;
        }
        input[type="email"] {
          width: calc(70% - 10px);
        }
        input[type="submit"] {
          width: 30%;
        }
      }
    }
  }

  .footer {
    .container {
      .footer__top {
        .footer__infos, .footer__menus, .footer__social-medias {
          padding: 30px;
        }
        .footer__infos {
          padding: 20px;
          a {
            h1:nth-of-type(1) {
              font-size: 26px;
            }
            h1:nth-of-type(2) {
              font-size: 16px;
            }
          }
        }
        .footer__menus, .footer__social-medias {
          ul {  
            li {
              a {
                font-size: 14px;
              }
            }
          }
        }
        .footer__menus {
          margin-right: 12%;
        }
      }
    }
    .footer__bottom {
      padding: 15px 0;
    }
  }
}

@media screen and (max-width: 880px) {

  .header {
    padding: 0 20px;
  }

  .section {
    height: 800px;
    padding: 0 20px;
  
    .container {
      flex-direction: row;
      flex-wrap: wrap;

      .section__left_container {
        padding: 20px;
        display: flex;
        width: 100%;
        height: 50%;
      }
    
      .section__right_container {
        width: 100%;
        height: 50%;
      }
    }
  }

  .about-us {
    margin-bottom: 120px;

    .about-us__right {
      display: flex;
      padding: 15px 0;

      .about-us__images.first, .about-us__images.second, .about-us__images.third {
        position: relative;
      }
      .about-us__images.first {
        width: calc(100% / 3);
        margin-right: 10px;
        height: 100%;
        right: inherit;
        top: inherit;
      }
  
      .about-us__images.second {
        width: calc(100% / 3);
        margin: 0 5px 0 5px;
        height: 100%;
        right: inherit;
      }
  
      .about-us__images.third {
        width: calc(100% / 3);
        margin-left: 10px;
        height: 100%;
        right: inherit;
        top: inherit;
        transform: translate(0, 0);
      }
    }
  }

  .text-banner {
    margin-bottom: 0px;
  
    .text-banner__text {
      font-size: 24px;
      margin: 80px 100px;
      margin-bottom: 16px;
    }
  }

  .find-us {
    margin-bottom: 20px;
  }

}

@media screen and (max-width: 780px) {

  .news {
    height: fit-content;
    margin-bottom: 80px;
  
    .container {
      padding: 20px;
      padding-top: 100px;
      position: relative;
      flex-direction: column;
  
      .news__container {
        position: relative;
        flex-direction: row;
        width: 100%;
        height: 260px;
        margin-bottom: 40px !important;

        img {
          opacity: 1;
        }
        .news__container__small__image, .news__container__large__image {
          width: 250px;
          height: 100%;
        }
        .news__container__content {
          width: calc(100% - 250px);
          margin-top: 0;
          display: flex;
          flex-direction: column;
          justify-content: center;
          padding: 30px !important;
        }
      }
      .news__container--responsive {
        flex-direction: row-reverse;

        .news__container__content {
          align-items: flex-end;

          .news__container__links {
            a {
              text-align: right;
            }
          }
          .news__container__title {
            text-align: right;
          }
          .news__container__text {
            text-align: right;
          }
        }
      }
      .news__container:nth-of-type(1) {
        left: 0;
        margin-bottom: 0px;
      }
      .news__container:nth-of-type(3) {
        right: 0;
      }
    }
  }

  .budget {
    height: 800px;
    margin-bottom: 60px;
    text-align: center;
  
    .container {
      padding: 30px 0;
      flex-direction: column;
  
      .budget__container__left {
        align-items: center;
        width: 100%;
        height: 40%;
        font-size: 18px;
        padding: 20px;
      }
  
      .budget__container__right {
        width: 100%;
        height: 60%;
        padding: 30px 20px 0 20px;
  
        .budget__form {
          display: flex;
          justify-content: center;
          height: 100%;
          padding: 0 20px;
  
          .budget__form__infos {
            justify-content: flex-end;

            input {
              padding: 8px 10px;
              font-size: 14px;
            }
            input[type="text"] {
              width: calc(70% - 10px);
            }
            input[type="number"] {
              width: 30%;
              margin-left: 10px;
            }
            input[type="email"] {
              width: calc(70% - 10px);
              margin-right: 10px;
            }
            input[type="submit"] {
              width: 30%;
            }
          }
        }
      }
    }
  }

  .showcase {
    .showcase__container {  
      .showcase__items {
        flex-wrap: wrap;
        width: max-content;
      
        .showcase__item {
          width: 50%;
        }
      }
    }
  }
}


@media screen and (max-width: 680px) {

  .about-us, .store {
    margin-bottom: 60px;
  }

  .section {
    .container {
      .section__left_container {
        height: 60%;
      }
      .section__right_container {
        height: 40%;
      }
    }
  }

  .news {
    .container {  
      .news__container {
        height: 240px;
        margin-bottom: 30px !important;

        .news__container__small__image, .news__container__large__image {
          width: 200px;
          height: 100%;
        }
        .news__container__content {
          width: calc(100% - 200px);
          font-size: 14px;
          padding: 0 20px !important;
  
          .news__container__links {
            margin-bottom: 0;

            a {
              font-size: 14px;
            }
          }
          .news__container__title {
            font-size: 16px;
          }
        }
      }
    }
  }

  .budget {
    .container {  
      .budget__container__right {
        .budget__form {   
          .budget__form__infos {
            input[type="text"] {
              width: calc(60% - 10px);
            }
            input[type="number"] {
              width: 40%;
              margin-left: 10px;
            }
          }
        }
      }
    }
  }

  .find-us {
    margin-bottom: 40px;

    .container {
      height: 360px;
      flex-direction: column-reverse;
  
      .find-us__container__left {
        width: 100%;
        height: 40%;
        padding: 0 20px 20px 20px;
        text-align: center;
  
        p {
         font-size: 20px;
        }
        p:nth-of-type(1) {
          font-size: 28px;
        }
      }
  
      .find-us__container__right {
        width: 100%;
        height: 60%;
        padding: 20px;
      }
    }
  }

  .newsletter {
    .container {
      flex-direction: column;
  
      .newsletter__text {
        width: 100%;
        font-size: 18px;
        margin-bottom: 20px;
      }
      .newsletter__form {
        width: 100%;
        margin-left: 0;
      }
    }
  }

  .footer {
    .container {  
      .footer__top {
        padding: 30px;
        .footer__infos {
          display: flex;
          align-items: center;
          width: 50%;
          padding: 0;
        }
        .footer__menus {
          display: none;
        }
        .footer__social-medias {
          width: 50%;
          display: flex;
          justify-content: flex-end;
          padding: 0;
        }
      }
      .footer__resposive {
        display: flex;
      }
    }

    .footer__bottom {
      padding: 10px 0;
      font-size: 12px;
    }
  }
}

@media screen and (max-width: 580px) {

  .section {
    .section__left_container {
      p:nth-of-type(1) {
        font-size: 24px;
      }
      p:nth-of-type(2) {
        margin-bottom: 30px;
      }
    }
  }

  .text-banner {
    .text-banner__text {
      font-size: 22px;
      padding: 0 40px;
      width: 100%;
      margin: 50px 0;
      margin-bottom: 16px;
    }
  }

  .news {
    .container {  
      .news__container {
        max-height: 180px;

        .news__container__small__image, .news__container__large__image {
          width: 100%;
          position: absolute;
          opacity: 0.1;
        }
        .news__container__content {
          width: 100%;
          z-index: 1;
          
          .news__container__title {
            margin-bottom: 5px;
          }
        }
      }
    }
  }

  .budget {
    .container {
      .budget__container__right {
        .budget__form {
          p:nth-of-type(1) {
            font-size: 20px;
          }
          p:nth-of-type(2) {
            font-size: 18px;
            margin-bottom: 15px;
          }
          p:nth-of-type(3) {
            font-size: 18px;
            margin-bottom: 15px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 440px) {

  .section {
    .section__left_container {
      p:nth-of-type(1) {
        font-size: 18px;
        margin-bottom: 14px;
      }
      p:nth-of-type(2) {
        font-size: 16px;
        margin-bottom: 20px;
      }

      button {
        font-size: 16px;
        padding: 8px 30px;
      }
    }
  }

  .showcase {
    .showcase__container {  
      .showcase__items {     
        .showcase__item {
          width: 100%;
        }
      }
    }
  }

  .news {
    .container {  
      .news__container {
        max-height: 200px;
        margin-bottom: 15px !important;
      }
    }

    .container .news__container:last-child {
      margin-top: 23px;
    }
  }

  .budget {
    .container { 
      .budget__container__right {
        .budget__form {
          p:nth-of-type(2) {
            font-size: 16px;
            margin-bottom: 10px;
          }
          p:nth-of-type(3) {
            font-size: 16px;
            margin-bottom: 10px;
          }

          .budget__form__infos {
            justify-content: flex-end;

            input {
              padding: 6px 10px;
              font-size: 14px;
              margin-bottom: 5px;
            }
            input[type="text"] {
              width: 100%;
            }
            input[type="number"] {
              width: 100%;
              margin-left: 0;
            }
            input[type="email"] {
              width: calc(70% - 10px);
              margin-right: 10px;
            }
            input[type="submit"] {
              width: 30%;
            }
          }
        }
      }
    }
  }

  .find-us {
    .container {
      .find-us__container__left {
        p {
         font-size: 16px;
        }
        p:nth-of-type(1) {
          font-size: 20px;
        }
      }
    }
  }

  .newsletter {
    .container { 
      .newsletter__form {
        flex-direction: column;

        input[type="email"] {
          width: 100%;
          margin: 0 0 5px 0;
        }
        input[type="submit"] {
          width: 100%;
        }
      }
    }
  }
}