section {
  border: 1px solid blue;
}
div {
  border: 1px solid orange;
}
h1 {
  border: 1px solid red;
}
h2 {
  border: 1px solid purple;
}
h3,
h4,
h5 {
  border: 1px solid brown;
}
img {
  border: 1px solid green;
}
div {
  border: 2px solid silver;
}
article {
  border: 1px solid cyan;
}
